config.stopBubbling = true
lombok.addNullAnnotations = checkerframework
lombok.addLombokGeneratedAnnotation = true
lombok.val.flagUsage = error
lombok.var.flagUsage = error
lombok.nonNull.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
lombok.log.flogger.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.fieldName = logger
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
lombok.synchronized.flagUsage = error
lombok.extensionMethod.flagUsage = error
lombok.fieldDefaults.flagUsage = error
lombok.delegate.flagUsage = error
lombok.onX.flagUsage = error
lombok.utilityClass.flagUsage = error
lombok.helper.flagUsage = error
lombok.fieldNameConstants.flagUsage = error
lombok.standardException.flagUsage = error